# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*, 
'hello', 
-87.8, 
-, 
/,  
+, 
6

# Answer
Integers - -87.8, 6

String - 'hello'

Expressions - *, -, /, +

# 2. What is the difference between string and variable?

# Answer 

String is a set of characters enclosed by two quotes ''.
 for eg- 'Suraj', 'T2', '353'.
 Anything enclosed within the inverted commas will be considered as a string.

Whereas Variable is a notation which is used to store the value. we have to assign values to the variable after declaring it.
for eg- S1 = 'Suraj' or num = 345
In python, any values of any data type can be stored in a variable without declaring its datatype.

# 3. Describe three different data types.

# Answer

Some Datatypes in python as follows:

Integer - Integer datatype are the number type values. 
for eg- 244, 2, -42, 202534

String - String is a set of characters enclosed by two quotes ''. 
for eg- 'Suraj', 'T2', '353'.
Anything enclosed within the inverted commas will be considered as a string.

float - float datatype are the decimal type values.
for eg- 3.533, 434.34, -34.355

# 4. What is an expression made up of? What do all expressions do?

# Answer

Expressions are the notations that performs mathematical or logical operations.
It consist of mathematical operations or combination of mathematical operations.
for eg- +, -, *, **, ?, etc

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Answer

Expressions are the notations that performs mathematical or logical operations. It consist of mathematical operations or combination of mathematical operations.

Whereas statement is a set of instructions which may be associated with expressions or assignment operation to perform a particular operation.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

# Answer

At first, the variable bacon is assigned with the value 22 and then we say bacon + 1. i.e. 22 + 1 = 23.
As we haven't assigned bacon + 1 to anyting
the variable bacon will remain as it is giving the result 22.

In [1]:
bacon = 22
bacon + 1
bacon

22

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

# Answer
'spam' + 'spamspam' will concatinate the two strings giving the result 'spamspamspam'

'spam' * 3 will multiply the string 3 times i.e. 'spamspamspam'

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

# Answer 

While declaring the variable, we can only start with an alphabet not a number. which is why we cannot declare 100 as a variable.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer

The three functions that can be used to get the integer, floating-point number, or string version of a value
are int(), float(), str() respecively.

In [11]:
v1 = 324
v2 = '2423'
int(v2)

2423

In [12]:
float(v1)

324.0

In [13]:
str(v1)

'324'

# 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

# Answer

The Above statement gives an error because we cannot concatinate a string with an integer directly we have to convert the integer into string and the concatinate.

In [15]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

# Correct Statement

In [16]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'